@{
    ViewData["Title"] = "AdminPanelMasa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-2">

            <nav class="d-flex flex-column flex-shrink-0 p-3 mx-3 text-white bg-dark"
                 style="width: 280px; height:100%; overflow:auto;">
                <a href="AdminPanel" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 text-start">Admin Panel</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="AdminPanelKategori" class="nav-link text-white">
                            Kategori İşlemleri
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="AdminPanelUrun" class="nav-link text-white">
                            Ürün İşlemleri
                        </a>
                    </li>
                    <li>
                        <a href="AdminPanelMasa" class="nav-link text-white">
                            Masa İşlemleri
                        </a>
                    </li>
                    <li>
                        <a href="AdminPanelGunSonu" class="nav-link text-white">
                            Gün Sonu
                        </a>
                    </li>


                </ul>
            </nav>

        </div>

        <div class="col-md-10 pt-3 ml-3 ">
            <div class="text-white px-5">

                <div class="" id="Masa">
                    <div class="text-end mt-5">
                        <button class="btn btn-light bi-plus" data-bs-toggle="modal" data-bs-target="#MasaEkle"> Yeni Ekle</button>
                    </div>
                    <!-- Tablo Başlangıç -->
                    <table class="table table-hover table-light mt-2">
                        <thead>
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Masa Adi</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- Tablo Satırı Başlangıç -->
                                <th scope="row">1</th>
                                <td>101</td>
                                <td> <button class="btn btn-dark bi-pencil" data-bs-toggle="modal" data-bs-target="#MasaGuncelle"></button></td>
                                <td> <button class="btn btn-dark bi-trash" data-bs-toggle="modal" data-bs-target="#MasaSil"></button></td>
                            </tr> <!-- Tablo Satırı Bitiş -->

                            <tr>
                                <th scope="row">2</th>
                                <td>Tatlı</td>
                                <td> <button class="btn btn-dark bi-pencil"></button></td>
                                <td> <button class="btn btn-dark bi-trash"></button></td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- Tablo Tablo Bitiş -->
                </div>

                <!-- Güncelleme Pop Up Başlangıç -->
                <div class="modal fade text-black" id="MasaGuncelle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Masa Güncelle</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">ID</span>
                                    <input type="text" class="form-control" aria-label="ID" style="width:15%;" value="1" disabled>
                                    <input type="text" class="form-control" aria-label="Name" style="width:75%;" value="101">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                <button type="button" class="btn btn-success">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Güncelleme Pop Up Bitiş -->
                <!-- Silme Pop Up Başlangıç -->
                <div class="modal fade text-black" id="MasaSil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Masa Sil</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5>Bu Masa Silinsin Mi ?</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                <button type="button" class="btn btn-danger">Sil</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Silme Pop Up Bitiş -->
                <!-- Ekleme Pop Up Başlangıç -->
                <div class="modal fade text-black" id="MasaEkle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="">Masa Ekle</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3 mt-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Masa Adı</span>
                                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                <button type="button" class="btn btn-success">Ekle</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ekleme Pop Up Bitiş -->

            </div>
        </div>
    </div>
</div>