
@{
    ViewData["Title"] = "ChefPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="p-5">
    <!-- Ürün Liste Başlangıç -->

    <div class="container mx-auto">
        <div class="row mb-4"> <!-- Ürün Kartı Listesi Başlangıç -->

            <!-- Ürün Kartı Başlangıç -->

            <div class="col-md-auto"> 
                <div class="card" style="width:15rem; height:22rem;">
                    <img src="https://i.imgur.com/JIA9UlL_d.webp" class="card-img-top" alt="..." style="height:160px;">
                    <!--Veri Tabanından Fotoğraf bilgisi çekilecek -->
                    <div class="card-body">
                        <h5 class="card-title">ÇITIR TAVUK BURGER</h5>
                        <!--VT den Yiyecek bilgisi çekilecek -->
                        <h6 class="card-subtitle mb-2">Masa No - Ürün Notu.</h6>
                        <!-- VT den Yiyecek Açıklaması Girilecek. -->
                        
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark bi-trash-fill text-white" ></button>
                            <button type="button" class="btn btn-success bi-check2 text-white" ></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ürün Kartı Bitiş -->


            <div class="col-md-auto"> 
                <div class="card" style="width:15rem; height:22rem;">
                    <img src="https://i.imgur.com/JIA9UlL_d.webp" class="card-img-top" alt="..." style="height:160px;">
                    <!--Veri Tabanından Fotoğraf bilgisi çekilecek -->
                    <div class="card-body">
                        <h5 class="card-title">ÇITIR TAVUK BURGER</h5>
                        <!--VT den Yiyecek bilgisi çekilecek -->
                        <h6 class="card-subtitle mb-2">Masa No - Ürün Notu.</h6>
                        <!-- VT den Yiyecek Notu Girilecek. -->
                        
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark bi-trash-fill text-white" ></button>
                            <button type="button" class="btn btn-success bi-check2 text-white" ></button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-auto"> 
                <div class="card" style="width:15rem; height:22rem;">
                    <img src="https://i.imgur.com/JIA9UlL_d.webp" class="card-img-top" alt="..." style="height:160px;">
                    <!--Veri Tabanından Fotoğraf bilgisi çekilecek -->
                    <div class="card-body">
                        <h5 class="card-title">ÇITIR TAVUK BURGER</h5>
                        <!--VT den Yiyecek bilgisi çekilecek -->
                        <h6 class="card-subtitle mb-2">Masa No - Ürün Notu.</h6>
                        <!-- VT den Yiyecek Açıklaması Girilecek. -->
                        
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark bi-trash-fill text-white" ></button>
                            <button type="button" class="btn btn-success bi-check2 text-white" ></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-auto"> 
                <div class="card" style="width:15rem; height:22rem;">
                    <img src="https://i.imgur.com/JIA9UlL_d.webp" class="card-img-top" alt="..." style="height:160px;">
                    <!--Veri Tabanından Fotoğraf bilgisi çekilecek -->
                    <div class="card-body">
                        <h5 class="card-title">ÇITIR TAVUK BURGER</h5>
                        <!--VT den Yiyecek bilgisi çekilecek -->
                        <h6 class="card-subtitle mb-2">Masa No - Ürün Notu.</h6>
                        <!-- VT den Yiyecek Açıklaması Girilecek. -->
                        
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark bi-trash-fill text-white" ></button>
                            <button type="button" class="btn btn-success bi-check2 text-white" ></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-auto"> 
                <div class="card" style="width:15rem; height:22rem;">
                    <img src="https://i.imgur.com/JIA9UlL_d.webp" class="card-img-top" alt="..." style="height:160px;">
                    <!--Veri Tabanından Fotoğraf bilgisi çekilecek -->
                    <div class="card-body">
                        <h5 class="card-title">ÇITIR TAVUK BURGER</h5>
                        <!--VT den Yiyecek bilgisi çekilecek -->
                        <h6 class="card-subtitle mb-2">Masa No - Ürün Notu.</h6>
                        <!-- VT den Yiyecek Açıklaması Girilecek. -->
                        
                    </div>
                    <div class="card-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-dark bi-trash-fill text-white" ></button>
                            <button type="button" class="btn btn-success bi-check2 text-white" ></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Ürün Kartı Listesi Bitiş -->
    </div>
    <!-- Ürün Liste Bitiş -->

</div>


