@{
    ViewData["Title"] = "Main";
}

<div>
    
    <div class="d-flex justify-content-center align-middle" style="margin-top: 13rem">
    <form itemid="masaKodu" class="border pt-5 pb-5  rounded w-25 bg-light container">
        <br />
        <div class="text-center">
            <p class="text-center fs-3 pb-3" style="margin-top:-2rem">Smart Restaurant</p>
            <input class="input-group rounded" type="text" placeholder="3 Haneli Masa Kodu"> <br /><br />
            <button class="btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="OrderPage">Sipariş Ver</button><br /><br /><br />
            <p class="text-end" style="font-size:xx-small;margin-left:-2rem; margin-bottom:-2rem;">Sipariş Vermek İçin Masanın Köşesindeki 3 Haneli Kodu Giriniz</p>
        </div>
    </form>
    </div>
</div>
